### Prediction of the ANN trained model

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from tensorflow.keras.models import load_model
import pickle

In [3]:
# Load the trained model, scaler, and one-hot label encoder
model = load_model('model.h5')

with open('gender_encoder.pkl', 'rb') as file:
    gender_encoder = pickle.load(file)

with open('geo_onehot_encoder.pkl', 'rb') as file:
    geo_onehot_encoder = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [42]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'Germany',
    'Gender': 'Female',
    'Age': 46,
    'Tenure': 3,
    'Balance': 30000,
    'NumOfProducts': 3,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 40000
}

In [43]:
# One-hot encode 'Geography'
geo_encoded = geo_onehot_encoder.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=geo_onehot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

d:\Projects\Projects\Python_NLP_DL\5 - DL\ANN Classification\annvenv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [44]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Germany,Female,46,3,30000,3,1,1,40000

In [45]:
## Encode categorical variables
input_df['Gender']=gender_encoder.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Germany,0,46,3,30000,3,1,1,40000

In [46]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,46,3,30000,3,1,1,40000,0.0,1.0,0.0

In [47]:
## Scaling the input data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516, -1.09499335,  0.67522821, -0.69539349, -0.73814087,
         2.53355998,  0.64920267,  0.97481699, -1.05069891, -0.99850112,
         1.72572313, -0.57638802]])

In [48]:
# Make prediction
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step

array([[0.87117076]], dtype=float32)

In [49]:
prediction_proba = prediction[0][0]
print(prediction_proba)

0.87117076

In [50]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is likely to churn.